<% include partials/header %>

<h1>Show</h1>


<p> <%= campground.name %></p>

<img class="control" src="<%= campground.image %>" alt="">

<p> <%= campground.description %></p>


<% include partials/footer %>