<% include partials/header %>   
<h1>You fell in love with: <%= puppy %>   </h1>

<% if (puppy.toLowerCase() == "rusty"){ %>
    <p>Good choice rusty is the best!</p>
<% } %>

<% include partials/header %> 

